.DS_store
*~
CMakeCache.txt
CMakeScripts
CMakeFiles
CMakeLists.txt.*
Makefile
build*
cmake_install.cmake
lib
bin
logs
*.a
*.dylib
*.xcodeproj
*.sln
*.vcproj*
*.ncb
*.suo
*.obj
*.dir
BuildLog.htm
cppunit-reports
.project
.cproject
*.xcworkspace
data_*
3rdparty
